/* Modal windows sectioning */
section.rsside {
    border: none;
    border-top: 1px solid #eaeaea;
    padding: 15px 0;
}

/* Elements styles for SLIDER */
.toggler {
  max-height: 0px;
}

#panel1 {
  color:#CCC;
  position: relative;
  opacity: 0.9;
  display: none;
  width: 300px;
  padding: 0.4em;
  z-index: 1;
  background-color: #000000;
  padding: 20px 10px 0px 10px;
	border-top-right-radius: 15px;
	-moz-border-radius-topright: 15px;
	-webkit-border-top-right-radius: 15px;
	-moz-border-radius-bottomright: 15px;
	-webkit-border-bottom-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

a.trigger{
	/*position: relative;*/
	background:#ccc url(images/noun_12925.svg) 0% 55% no-repeat;
	/*height: 20px;*/
	padding:0px 12px 6px 15px;
	z-index:2;
  /*left: 0;*/
	border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
	border-bottom-right-radius: 5px;

}

/* END SLIDER */
/* Project tree related styles */
.node {
  cursor: pointer;
}

.node circle {
  fill: #fff;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.node text {
  font: 10px sans-serif;
}

.link {
  fill: none;
  stroke: #ccc;
  stroke-width: 1.5px;
}

/* Set modal overflow-y : auto for mantain the auto behavior when toggling between modal windows */
.fade.in {
  overflow-y:auto;
}

/* Set wide bootstrap modal width */
.modal-dialog.modal-wide {
  width: 90%; /* or whatever you wish */
}

/* Spinner */
.glyphicon.spinning {
    animation: spin 1s infinite linear;
    -webkit-animation: spin2 1s infinite linear;
}

@keyframes spin {
    from { transform: scale(1) rotate(0deg); }
    to { transform: scale(1) rotate(360deg); }
}

@-webkit-keyframes spin2 {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

/* Compare charts scrollable table */

table {
    width: 100%;
}
thead, tbody, tr, td, th { display: block; }
tr:after {
    content: ' ';
    display: block;
    visibility: hidden;
    clear: both;
}
thead th {
    height: 30px;
    /*text-align: left;*/
}
tbody {
    height: 120px;
    overflow-y: auto;
}
thead {
    /* fallback */
}
tbody td, thead th {
    width: 33.3%; /*100 / num of columns*/
    float: left;
}

/* Compare charts draggable div */
.fill {
    height:100%;
    min-height:100%;
    background-color:#990000;
    padding:10px;
    color:#efefef;
}
